.topbar{
    width: 100%;
}

.topbar__cont{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.topbar__div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar__div > p{
    font-size: 15px;
    font-weight: 500;
}

.topbar__img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.topbar__menu{
    display: none;
    padding: 10px;
}

.topbar__menu-section{
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.topbar__menu-section-cont{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    background-color: gray;
    color: #001D3D;
    font-weight: bold;
    font-size: 24px;
    position: absolute;   
    top: 25px;
    left: -10px;
}

.scale-up-center{
    animation:  scale-up-center .4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media screen and (max-width: 650px){
    .topbar{
        width: 100%;
    }

    .topbar__menu{
        display: flex;
    }

    .topbar__cont{
        display: none;
    }
}