.home{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.homeContainer{
    flex: 4;
    display: flex;
    flex-direction: column;
}

.home__widget{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.home__chart{
    display: flex;
    justify-content: space-around;
    margin: 25px 10px;
}