.widget{
    height: 100px;
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, .47);
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.left > span{
    color: orange;
}

.left > p{
    color: #111;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 650px){
    .widget{
        width: 350px;
        margin-left: 10px;
    }
}
