.d_product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__center{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.product__center-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.product__center > p{
    font-size: 12px;
    color: #043467;
}


.product__btm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.product__btm > p{
    font-size: 14px;
    text-align: center;
    color: #111;
    font-weight: 600;
}

.product__btm-img{
    height: 150px;
    width: 140px;
    border-radius: 10px;
}
