.product{
    height: 100vh;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #ffffff;
}

.product__cont{
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.product__top{
    display: flex;
    justify-content:space-between;
    margin: 15px;
}

.product__top > p{
    padding: 10px  15px;
    color: #001D3D;
    cursor: pointer;
}

.product__list{
    display: flex;
    justify-content:space-between;
}

hr{
    background: grey;
    border: .5px solid rgb(75, 45, 45);
    margin-top: 15px;
}

@media screen and (max-width: 650px){
    .product__list{
        flex-wrap: wrap;
    }
}