.notification{
    max-width: 1200px;
    display: flex;
    height: 100vh;
    margin: auto;
    background-color: #fff;
}

.notification__cont{

    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.product__top{
    display: flex;
    justify-content:space-between;
}

.product-text{
    font-size: 20px;
    color: #222;
    font-weight: 600;
}