.notification{
    max-width: 1200px;
    display: flex;
    height: 100vh;
    margin: auto;
}

.notification__cont{
    background-color: crimson;
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}
